@charset "utf-8";

/* Common Style */

html, body, div, h1, h2, h3, h4, h5,p,
ul, ol, li, dl, dt, dd,
table, th, td,
section, hgroup, nav, article, aside, header, footer {
	margin						: 0;
	padding						: 0;
	font-size					: 100%;
	background-color: blue;
}
section, hgroup, nav, article, aside, figure, header, footer {
	display						: block;
}
img {
	border						: none;
	vertical-align				: bottom;
}
ul li, ol li {
	list-style					: none;
}

/*container*/
#container{
	width:100%;
	height:1500px;
	margin:0px auto;
	border:solid 1px #000;
	background-color:black;
}

/*header*/
#header{
	border:solid 1px #000;
	background-color:white;
	width: 100%;
	height:95px;
}

/*wrapper*/
#wrapper{
	border:solid 1px #000;
	background-color: pink;
	width: 100%;
	height:100%;
}

/*sidebar*/
#sidebar{
	border:solid 1px #000;
	background-color: red;
	float:left;
	width:200px;
	height:100%;
}

/*content*/
#content{
	border:solid 1px #000;
	background-color: blue;
	width: auto;
	height:100%;
}

/*footer*/
#footer{
	border:solid 1px #000;
	background-color: green;
	width:100%;
	height:80px;
}
.user-name{
	float:right;
}

.border-header{
	font-size: 15px;
		color: white;
	background-color: #3365a2;
	width:100%;
	height:20px;
}
.border-header-sub{
font-size: 15px;
	background-color: #e1ffff;
	width:100%;
	height: 20px;
}
.border-header-img{
	padding-top:10px;
	background-color: white;
	width: 100%;
	height: 45px;
}
