@charset "utf-8";

/* Common Style */

html, body, div, h1, h2, h3, h4, h5,p,
ul, ol, li, dl, dt, dd,
table, th, td,
section, hgroup, nav, article, aside, header, footer {
	margin						: 0;
	padding						: 0;
	font-size					: 100%;
	background-color:#FFF;
}
section, hgroup, nav, article, aside, figure, header, footer {
	display						: block;
}
img {
	border						: none;
	vertical-align				: bottom;
}
ul li, ol li {
	list-style					: none;
}
/*signup*/
input[type="password"]{
}
input[type="submit"] {
	/* 文字サイズを1.4emに指定 */
	    font-size: 1.4em;

	    /* 文字の太さをboldに指定 */
	    font-weight: bold;

	    /* 縦方向に10px、
	     * 横方向に30pxの余白を指定 */
	    padding: 10px 30px;

	    /* 背景色を濃い青色に指定 */
	    background-color: #248;

	    /* 文字色を白色に指定 */
	    color: #fff;

	    /* ボーダーをなくす */
	    border-style: none;
			padding:5px 10px;
			margin:10px;
			float:right;
}

input[type="submit"]:hover{
	  /* 背景色を明るい青色に指定 */
    background-color: #24d;

    /* 文字色を白色に指定 */
    color: #fff;
	}

/*container*/
#container{
	width:100%;
	height:auto;
	margin:0px auto;
	border:solid 1px #000;
	background-color:#FFF;
}

/*header*/
#header{
	background-color:white;
	width: 100%;
	height:100px;
}

.user-name{
	float:right;
}

.new-account{
float:right;
}

.border-header{
	font-size: 15px;
	color: white;
	background-color: #3365a2;
	width:100%;
	height:23px;
	padding:0px 20px;
}
.border-header-sub{
	font-size: 15px;
	background-color: #e1ffff;
	width:100%;
	height: 25px;
	padding: 2px 20px;
}
.border-header-img{
	margin:5px 20px;
	background-color: white;
	height: 45px;
}

/*wrapper*/
#wrapper{
	background-color: pink;
	width: 100%;
	height:100%;
}

/*sidebar*/
#sidebar{
	float:left;
	width:15%;
	height:100%;
}

.side_menu{
	width:90%;
	margin:5px auto;
}

.side_menu ul{
	border:solid 1px #000;
}
.side_menu li{
	border-bottom:solid 1px #000;
	text-align: center;
	color:#00f;
}

/*content*/
#content{
	background-color: white;
	width: auto;
	height:100%;
	width:84%;
	float:left;
}

#content h2{
	width:100%;
	background-color:#3365a2;
	color:#FFF;
	padding:5px 10px;
	margin:5px 0px;
}

.lectures table {
	border:solid 1px #000;
	width:80%;
	margin:30px auto;
}
.lectures th, td{
	border:solid 1px #000;
	margin:5px;
	text-align: center;
}
.lectures th{
	background-color:#F2FFCA;
}

.active-list table{
	border:solid 1px #000;
	width:80%;
	margin:30px auto;
}

.active-list th, td{
	border:solid 1px #000;
	margin:5px;
	text-align: center;
}
.active-list th{
	background-color:#F2FFCA;
}
/*footer*/
#footer{
	clear:both;
	border:solid 1px #000;
	background-color: green;
	width:100%;
	height:80px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

.testbox {
  margin: 20px auto;
  width: 343px;
  height: 300px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}


#icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 0px #cbc9c9;
}
a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 50px; height: 27px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #3a57af;
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
  -moz-box-shadow: 0 3px rgba(58,87,175,.75);
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s;
  top: 0px;
  position: relative;
}

a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}
.text{
	padding:5px 0px;
}
.password{
	padding:5px 0px;
}

#flashMessage{
	text-align: center;
    color: #0A0;
    border: 2px solid #0A0;
    margin: 10px 0px;
    padding: 5px 0px;
    font-weight: bold;
}